<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="sendEmail()">
      <ion-icon name="md-mail" item-left></ion-icon>
      @Anytimelearn.in
    </ion-item>
  </ion-list>
</ion-content>
