<ion-header>
	<ion-navbar color="danger">
		<ion-title>My Courses</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-item *ngFor="let post of posts">
	<ion-card (click)="loadTest(post)">
		<ion-card-header><b>
			{{post.c_cn}}
		</b></ion-card-header>
	</ion-card>
	</ion-item>
</ion-content>
